<div class="container mx-auto p-5">
    <h1>Agregar nuevo seguro</h1>

    <a href="#" routerLink="/asegurados/index" class="btn btn-primary">Regresar</a>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="cedula">Cedula:</label>
            <input 
                formControlName="cedula"
                id="cedula" 
                type="text" 
                class="form-control"
                (paste)="blockPaste($event)"
                (keypress)="numericOnly($event)">
            <div *ngIf="f['cedula'].touched && f['cedula'].invalid" class="alert alert-danger">
                <div *ngIf="f['cedula'].errors && f['cedula'].errors['required']">Cedula es requerido.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input 
                formControlName="nombre"
                id="nombre" 
                type="text" 
                class="form-control"
                (paste)="blockPaste($event)"
                (keypress)="limitLetter($event)">
            <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">Nombre es requerido.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="correo">Correo:</label>
            <input 
                formControlName="correo"
                id="nombre" 
                type="text" 
                class="form-control"
                (paste)="blockPaste($event)"
                (keypress)="limitLetter($event)">
            <div *ngIf="f['correo'].touched && f['correo'].invalid" class="alert alert-danger">
                <div *ngIf="f['correo'].errors && f['correo'].errors['required']">Correo es requerido.</div>
                <div *ngIf="f['correo'].errors && f['correo'].errors['email']">Correo no es válido.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input 
                formControlName="telefono"
                id="telefono" 
                type="text"
                class="form-control"
                (paste)="blockPaste($event)"
                (keypress)="numericOnly($event)">
            <div *ngIf="f['telefono'].touched && f['telefono'].invalid" class="alert alert-danger">
                <div *ngIf="f['telefono'].errors && f['telefono'].errors['required']">Telefono es requerido.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="edad">Edad</label>
            <input 
                formControlName="edad"
                id="edad" 
                type="number" 
                class="form-control"
                (paste)="blockPaste($event)"
                (keypress)="numericLenght($event)">
            <div *ngIf="f['edad'].touched && f['edad'].invalid" class="alert alert-danger">
                <div *ngIf="f['edad'].errors && f['edad'].errors['pattern']">Solo se permiten números.</div>
                <div *ngIf="f['edad'].errors && f['edad'].errors['required']">Edad es requerido.</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
    </form>
</div>

